<div class= "pagetitle">
    <H1> The Stacks Team</H1>
   </div>

<div class="container">
<div class= "hometext">
    
    <h3>About Stacks</h3>
    <p></p>
    
	
    <h3>Dana L. Terry M.A.</h3>
    <p><strong>Co-Coder and Design Specialist</strong></p>
        
        <!-- Headshot -->
        <div id="headshot-container">
        <span>
         <%= image_tag("Dana.jpg", alt:"Dana L. Terry Profile Picture", class: "dana-headshot") %>
            <a class="btn btn-outline-dark" href="https://github.com/DanaLTerry" role="button" target="_blank">GitHub</a>
        </span>
        </div>
        
    <br>
    <br>

    <h3>Arisa Bush</h3>
    <p><strong>Co-Coder and Back-End Specialist</strong></p>
        
        <!-- Headshot -->
        <div id="headshot-container">
        <span>
        <%= image_tag("Arisaheadshot.jpg", alt:"Arisa Bush Profile Picture", class: "arisa-headshot") %>
            <a class="btn btn-outline-dark" href="https://github.com/DanaLTerry" role="button" target="_blank">GitHub</a>
        </span>
        </div>
            <br>
            <br>
    
        <h3>Chris Ashby</h3>
        <p><strong>Co-Coder and Back-End Specialist</strong></p>
            
            <!-- Headshot -->
            <div id="headshot-container">
            <span>
             <%= image_tag("chrisheadshot.png", alt:"Chris Ashby Profile Picture", class: "chris-headshot") %>
             <a class="btn btn-outline-dark" href="https://github.com/DanaLTerry" role="button" target="_blank">GitHub</a>
            </span>
          </div>
    
	 <br>
     <br>
</div> 
	  <div class="copyright">
		  <p>Copyright  The Stacks Team. All rights reserved.</p>
        </div>
</div>