<!-- add navigation links to this file -->
<!-- Favicon -->
<!-- 	<link rel="shortcut icon" type="image/jpg" href="/favicon.ico"/>
	<link rel="shortcut icon" type="image/jpg" href="../final_project/app/assets/images/favicon.ico"/> -->

<!-- add navigation links to this file -->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Basecamp</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Quizzes</a></li>
        <li><a href="#">Assignments</a></li>
        <li><a href="#">Grades</a></li>
    </ul>
</li>
	
<li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >The Stacks</a>
     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
         <li><a href="#">Lecture Slides</a></li>
         <li><a href="#">Resource Library</a></li>
         <li><a href="#">Videos</a></li>
         <li><a href="#">Professional Development</a></li>
         <li><a href="#">Daily Bite</a></li>
     </ul>
</li>
      
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">DMs <span class="sr-only"></span></a></li>
        <li><a href="#">Surveys</a></li>
        <li><a href="#">Newsfeed</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
      </div>
    </div>
					